AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1
LOCAL_API_PORT=3001
FRONTEND_PORT=5500
COURSES_TABLE=CourseMasteryBackend-CoursesTable-1193SCNVUD8JY
PROGRESS_TABLE=CourseMasteryBackend-ProgressTable-DUJOC4ZI3NGI
APP_EMAIL=
APP_EMAIL_PASSWORD=
APP_URL=https://d14uzenahir9zo.cloudfront.net/index.html
